@font-face {
    font-family: 'Circular Pro Book';
    src: url('../../../../dist/assets/font/CircularPro-Book.eot');
    src: url('../../../../dist/assets/font/CircularPro-Book.eot?#iefix') format('embedded-opentype'),
        url('../../../../dist/assets/font/CircularPro-Book.woff2') format('woff2'),
        url('../../../../dist/assets/font/CircularPro-Book.woff') format('woff'),
        url('../../../../dist/assets/font/CircularPro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Pro';
    src: url('../../../../dist/assets/font/CircularPro-Medium.eot');
    src: url('../../../../dist/assets/font/CircularPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../../../dist/assets/font/CircularPro-Medium.woff2') format('woff2'),
        url('../../../../dist/assets/font/CircularPro-Medium.woff') format('woff'),
        url('../../../../dist/assets/font/CircularPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Pro';
    src: url('../../../../dist/assets/font/CircularPro-Bold.eot');
    src: url('../../../../dist/assets/font/CircularPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../../dist/assets/font/CircularPro-Bold.woff2') format('woff2'),
        url('../../../../dist/assets/font/CircularPro-Bold.woff') format('woff'),
        url('../../../../dist/assets/font/CircularPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Pro';
    src: url('../../../../dist/assets/font/CircularPro-BlackItalic.eot');
    src: url('../../../../dist/assets/font/CircularPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../../dist/assets/font/CircularPro-BlackItalic.woff2') format('woff2'),
        url('../../../../dist/assets/font/CircularPro-BlackItalic.woff') format('woff'),
        url('../../../../dist/assets/font/CircularPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}