<!-- ---------------------------------- -->
<!-- Start Vertical Layout Header -->
<!-- ---------------------------------- -->
<nav class="navbar navbar-expand-lg p-0 justify-content-between">


  <ul class="navbar-nav flex-row d-lg-flex">

    <li class="nav-item d-block d-xl-none">
      <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
        <i class="ti ti-menu-2"></i>
      </a>
    </li>
  </ul>

  <div class="logo d-flex align-items-center d-xl-none">
      <h1 class="mb-0 fs-8 fw-bolder text-primary-emphasis me-11">Orix</h1>
      <img src="../assets/images/logos/logo.svg" alt="" class="fs-12">
  </div>

  <div class=" justify-content-end" id="navbarNav">
    <div class="d-flex align-items-center justify-content-between">

      <ul
        class="navbar-nav flex-row ms-auto align-items-center justify-content-center"
      >

        <li class="nav-item d-block d-xl-none">
          <a
            class="nav-link nav-icon-hover right-sidebartoggler"
            href="javascript:void(0)"
            id="drop2"
          >
            <i class="ti ti-activity"></i>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<!-- ---------------------------------- -->
<!-- End Vertical Layout Header -->
<!-- ---------------------------------- -->


