<!-- ---------------------------------- -->
<!-- Start Vertical Layout Right Sidebar -->
<!-- ---------------------------------- -->

<div class="sidebar-nav scroll-sidebar pt-18 " data-simplebar>

  
    <div class="d-flex justify-content-between align-items-center mb-13">
        <h5 class="mb-0 fs-6 fw-bold">Recent Activity</h5>
        <div class="dropend d-flex">
            <a href="#" class=" dropdown-toggle right d-flex" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../assets/images/svgs/three_dots_icon.svg"
                alt="three_dots_icon">
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item border-bottom" href="#">Action</a></li>
              <li><a class="dropdown-item border-bottom" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
    </div>
    <ul class="timeline-widget mb-0 mb-n5 position-relative">
        <li class="timeline-item d-flex position-relative overflow-hidden">
             <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                  <span class="timeline-badge border-primary flex-shrink-0 my-8"></span>
                  <div class="timeline-badge-border d-block"></div>
             </div>
             <div class="timeline-desc fs-5">
                <h5 class="mb-10 fs-3 fw-medium">You sold an item</h5>
                <p class="fs-1 mb-8 fw-medium">Paul Burgess just purchased “Hyper Admin Dashboard”</p>
                <p class="mb-0 time fs-1 fw-medium">5 minutes ago</p>
             </div>
        </li>                        
        <li class="timeline-item d-flex position-relative overflow-hidden">
             <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                  <span class="timeline-badge border-secondary flex-shrink-0 my-8"></span>
                  <div class="timeline-badge-border d-block"></div>
             </div>
             <div class="timeline-desc fs-5">
                <h5 class="mb-10 fs-3 fw-medium">Product on the Market</h5>
                <p class="fs-1 mb-8 fw-medium">Paul Burgess just purchased “Hyper Admin Dashboard”</p>
                <p class="mb-0 time fs-1 fw-medium">5 minutes ago</p>
             </div>
        </li>                        
        <li class="timeline-item d-flex position-relative overflow-hidden">
             <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                  <span class="timeline-badge border-warning flex-shrink-0 my-8"></span>
             </div>
             <div class="timeline-desc fs-5 pb-0">
                <h5 class="mb-10 fs-3 fw-medium">Audrey Tobey</h5>
                <p class="fs-1 mb-8 fw-medium">Paul Burgess just purchase.</p>
                <p class="mb-0 time fs-1 fw-medium">2 minutes ago</p>
             </div>
        </li>  
        <li class="timeline-small-cap fs-1 fw-medium mt-21 mb-14">
            YESTERDAY
        </li> 
        <li class="timeline-item d-flex position-relative overflow-hidden">
            <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                 <span class="timeline-badge border-primary flex-shrink-0 my-8"></span>
                 <div class="timeline-badge-border d-block"></div>
            </div>
            <div class="timeline-desc fs-5">
               <h5 class="mb-10 fs-3 fw-medium">You sold an item</h5>
               <p class="fs-1 mb-8 fw-medium">Paul Burgess just purchased “Hyper Admin Dashboard”</p>
               <p class="mb-0 time fs-1 fw-medium">5 minutes ago</p>
            </div>
       </li>
       <li class="timeline-item d-flex position-relative overflow-hidden">
        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
             <span class="timeline-badge border-warning flex-shrink-0 my-8"></span>
             <div class="timeline-badge-border d-block"></div>
        </div>
        <div class="timeline-desc fs-5">
           <h5 class="mb-10 fs-3 fw-medium">Audrey Tobey</h5>
           <p class="fs-1 mb-8 fw-medium">Paul Burgess just purchase.</p>
           <p class="mb-0 time fs-1 fw-medium">2 minutes ago</p>
        </div>
   </li>
   <li class="timeline-item d-flex position-relative overflow-hidden">
    <div class="timeline-badge-wrap d-flex flex-column align-items-center">
         <span class="timeline-badge border-secondary flex-shrink-0 my-8"></span>
    </div>
    <div class="timeline-desc fs-5 pb-0">
       <h5 class="mb-10 fs-3 fw-medium">Product on the Market</h5>
       <p class="fs-1 mb-8 fw-medium">Paul Burgess just purchased “Hyper - Admin Dashboard”!</p>
       <p class="mb-0 time fs-1 fw-medium">5 minutes ago</p>
    </div>
  </li>
  <li class="timeline-small-cap fs-1 fw-medium mt-21 mb-14">
    09/08/2022
  </li>
  <li class="timeline-item d-flex position-relative overflow-hidden">
    <div class="timeline-badge-wrap d-flex flex-column align-items-center">
         <span class="timeline-badge border-primary flex-shrink-0 my-8"></span>
         <div class="timeline-badge-border d-block"></div>
    </div>
    <div class="timeline-desc fs-5">
       <h5 class="mb-10 fs-3 fw-medium">You sold an item</h5>
       <p class="fs-1 mb-8 fw-medium">Paul Burgess just purchased “Hyper Admin Dashboard”</p>
    </div>
 </li>  
 <li class="timeline-item d-flex position-relative overflow-hidden">
    <div class="timeline-badge-wrap d-flex flex-column align-items-center">
         <span class="timeline-badge border-secondary flex-shrink-0 my-8"></span>
    </div>
    <div class="timeline-desc fs-5 pb-5">
       <h5 class="mb-10 fs-3 fw-medium">Product on the Market</h5>
       <p class="fs-1 mb-8 fw-medium">Paul Burgess just purchased ..</p>
    </div>
  </li>                   
     </ul>
</div>