<!-- ---------------------------------- -->
<!-- Start Vertical Layout Sidebar -->
<!-- ---------------------------------- -->

<nav class="sidebar-nav scroll-sidebar pt-18 pb-13" data-simplebar>

  <div class="d-flex align-items-center justify-content-center mb-17">
    <img src="../assets/images/logos/logo.svg" alt="logo">
    <h3 class="mb-0 fs-7 fw-bolder text-primary-emphasis ms-11">Orix</h3>
 </div>

 <!-- User-Info -->
 <div class="text-center mb-19">
    <img src="../assets/images/profile/new-user-profile.jpg" alt="new-user" class="mb-13">
    <h3 class="mb-0 fs-5 fw-bold mb-2">Robert Grant</h3>
    <p class="mb-0 fs-2 fw-medium">Marketing Director</p>
 </div>

  <ul id="sidebarnav">


      <!-- ---------------------------------- -->
      <!-- Dashboard -->
      <!-- ---------------------------------- -->
      <li class="sidebar-item">
        <a class="sidebar-link" href="../" aria-expanded="false">
          <span>
            <i class="ti ti-layout-dashboard"></i>
          </span>
          <span class="hide-menu">Dashboard</span>
        </a>
      </li>

      <!-- ---------------------------------- -->
      <!-- OTHER -->
      <!-- ---------------------------------- -->
      <li class="sidebar-item">
        <a class="sidebar-link" href="@@webRoot/pages/analytics.html" aria-expanded="false"> 
          <span class="d-flex">
            <i class="ti ti-chart-pie-2"></i>
          </span>
          <span class="hide-menu">Analytics</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="@@webRoot/pages/ecommerce.html" aria-expanded="false">
          <span class="d-flex">
            <i class="ti ti-package"></i>
          </span>
          <span class="hide-menu">Ecommerce</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="@@webRoot/pages/project.html" aria-expanded="false">
          <span class="d-flex">
            <i class="ti ti-receipt"></i>
          </span>
          <span class="hide-menu">Project</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="@@webRoot/pages/e-wallet.html" aria-expanded="false">
          <span class="d-flex">
            <i class="ti ti-wallet"></i>
          </span>
          <span class="hide-menu">E-Wallet</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="@@webRoot/pages/settings.html" aria-expanded="false">
          <span class="d-flex">
            <i class="ti ti-settings"></i>
          </span>
          <span class="hide-menu">Settings</span>
        </a>
      </li>
  </ul>

  <div class="unlimited-access overflow-hidden hide-menu bg-primary position-relative rounded mt-20">
    <div class="d-flex justify-content-between">
      <div class="unlimited-access-title me-3 w-50 ">
        <h6 class="fw-bolder fs-6 mb-3 text-white ">Unlimited Access</h6>
          <p class="mb-0 text-light-purple fw-bold fs-1">get access to unlimited reports</p>
      </div>
      <div class="unlimited-access-img">
        <img src="../assets/images/backgrounds/unlimited-bg.png" alt="">
      </div>
    </div>
  </div>

</nav>




